$color-body: linear-gradient(to right,blue,red,white);
$color-principal: red;
$color-prueba-sass-1: red;
$color-prueba-sass-2:blue;
$color-prueba-sass-3:white;
$color-prueba-sass-4:black;
$ancho-prueba-sass: 800px;
$equipo-prueba-condicional: Columbus Crew;
$color-prueba-condicional-1: yellow;
$color-prueba-condicional-2: green;
$color-prueba-condicional-3: lightblue;

